<%- include('partials/header') %>

    <div class="jumbotron">
        <h1 class="display-4">Hello, This is Movie App</h1>
        <p class="lead">Hacktiv8 Week 5 Challange.</p>
        <hr class="my-4">
        <p>Using JS + Ejs + PG + Sequelize</p>
        <a class="btn btn-primary btn-lg" href="/productionhouses" role="button">Start !</a>
      </div>

<%- include('partials/footer') %>


